body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#container .btn-get-started:hover {
  background: #df9a55;
  height:100px;
}



.container {
  /* background-color:aquamarine; */
  padding: 1.5rem;
  margin: 1rem;
  /* align-items: flex-start; */
  border-radius: .5rem;
  text-align: left;
}